<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>CARDS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cards</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienestar Mental</ion-card-title>
      <ion-card-subtitle>Luna</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Practicar actividad física reduce el estrés, mejora el estado de ánimo y favorece un mejor descanso.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://cdn0.geoenciclopedia.com/es/posts/3/2/1/fases_de_la_luna_123_orig.jpg" />
    <ion-card-header>
      <ion-card-title>LUNA</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      En la quietud de la noche, la luna nos recuerda que incluso en la oscuridad más profunda, siempre hay luz que guía nuestro camino.
    </ion-card-content>
  </ion-card>
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title class="custom-title">Título con estilo</ion-card-title>
    </ion-card-header>
    <ion-card-content class="custom-content">
      Texto del contenido con color personalizado.
    </ion-card-content>
  </ion-card>
</ion-content>
