ion-avatar {
  border: 2px solid #1fa81f; /* Borde de 2px de color naranja */
  padding: 2px; /* Agrega un poco de espacio entre el borde y la imagen */
  border-radius: 50%; /* Asegura que el borde siga siendo redondo */
}
